.chatBtn {
    display: flex;
    /* height: 37px; */
    position: fixed;
    right: 25px;
    /* top: 69px; */
    /* padding-top: 7px; */
    bottom: 131px;
    /* background-color: white; */
    border-radius: 50%;
    /* width: 37px; */
    /* border: 2px solid; */
    justify-content: center;
    align-items: center;
}
.chatWidegt {
    // display: flex;
    /* height: 37px; */
    position: fixed;
    right: 25px;
    /* top: 69px; */
    /* padding-top: 7px; */
    bottom: 131px;
    /* background-color: white; */
    /* width: 37px; */
    /* border: 2px solid; */
}